<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head'); -%>
  <body>
    <div class="wrapper">
      <%- include('./templates/sidenav'); -%>
      <!-- Overlay -->
      <div class="overlay"></div>
      <div class="content">
        <%- include('./templates/header') -%>
        <main>
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
        </main>
      </div>
    </div>
  </body>
</html>
