<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head'); -%>
  <body>
    <div class="wrapper">
      <%- include('./templates/sidenav'); -%>
      <!-- Overlay -->
      <div class="overlay"></div>
      <div class="content">
        <%- include('./templates/header') -%>
        <main>
          <!-- Product list -->
          <div class="album bg-light">
            <!-- Container -->
            <div class="container pb-5">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <!-- Single product -->
                <% if (product_list.length > 0) { %> <% for (let product of
                product_list) {%> <%- include('templates/product_list_card',
                {product: product}); %> <% } %> <% } else { %>
                <p>Sorry, no products found</p>
                <% } %>
                <!-- Single product -->
              </div>
            </div>
            <!-- END Container -->
          </div>
          <!-- End Product list -->
        </main>
        <%- include('./templates/footer') -%>
      </div>
    </div>
  </body>
</html>
